MQTT_HOST=homeassistant.local
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

MQTT_CLIENT_ID=rpi_relay_controller
MQTT_DISCOVERY_PREFIX=homeassistant

PERSISTENCE_FILE=schedules.json

DHT_PIN=4
DHT_INTERVAL=60
